<div class="col-md-12">
    <h3 class="mb-3 text-center">Edit Stock</h3>

    <div class="form-group row">
            <label class="control-label col-md-12"> ID</label>
            <input type="text" [(ngModel)]="stockDetails.id" class="form-control" readonly>
        </div>

    <div class="form-group row">
	        <label class="control-label col-md-12">Stock Ticker</label>
	        <input type="text" [(ngModel)]="stockDetails.stockTicker" class="form-control">
	    </div>

	    <div class="form-group row">
	        <label class="control-label col-md-12">Stock Name</label>
	        <input type="text" [(ngModel)]="stockDetails.stockName" class="form-control">
	    </div>

        <div class="form-group row">
	        <label class="control-label col-md-12">Price</label>
	        <input type="text" [(ngModel)]="stockDetails.price" class="form-control">
	    </div>

        <div class="form-group row">
	        <label class="control-label col-md-12">Volume</label>
	        <input type="text" [(ngModel)]="stockDetails.volume" class="form-control">
	    </div>

        <div class="form-group row">
	    <label class="control-label col-md-12">Buy or Sell</label>
	    <input type="text" [(ngModel)]="stockDetails.buyOrSell" class="form-control">
	    </div>

        <div class="form-group row">
	        <label class="control-label col-md-12">Status Code</label>
	        <input type="text" [(ngModel)]="stockDetails.statusCodeCity" class="form-control" readonly>
	    </div>
        
         <div class="form-group row">
	        <label class="control-label col-md-12"> Timestamp</label>
	        <input type="text" [(ngModel)]="stockDetails.date_Time" class="form-control" readonly>
	    </div>

        
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateStock()">Save Stock</button>
    </div>

 </div>