<button class="btn btn-outline-primary" routerLink="/create-stock">Add Shipper</button>
<!-- Shipperss list table, it hides when there is no shipper -->
<div *ngIf="Stocks.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">Id</th>
			<th scope="col">Stock Ticker</th>
			<th scope="col">Stock Name</th>
            <th scope="col">Price</th>
            <th scope="col">Volume</th>
            <th scope="col">Buy or Sell</th>
            <th scope="col">Status Code </th>
			<th scope="col">Timestamp</th>	
			<th scope="col">Action</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let stock of Stocks">
			<td>{{stock.id}}</td>
			<td>{{stock.stockTicker}}</td>
			<td>{{stock.stockName}}</td>
            <td>{{stock.price}}</td>
			<td>{{stock.volume}}</td>
			<td>{{stock.buyOrSell}}</td>
            <td>{{stock.statusCodeCity}}</td>
            <td>{{stock.date_Time}}</td>
			<td>
			  <a [routerLink]="['/stock-edit/', stock.id]" class="btn btn-primary btn-sm float-right">Edit</a>&nbsp;
			  <a [routerLink]="" (click)="deleteStock(stock.id)" class="btn btn-danger btn-sm float-right">Delete</a>
			</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>